---
layout: default
---
%article.container{ role: "main" }
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          近期已完成
        %ul.list-group
          %li.list-group-item 之前在淘宝购入的IPTV没有发现问题，其中大多数台都是在卫星电视上有的。对我而言有用的是翡翠台HD、互动新闻、HBO HD、Discovery、国家地理等。
    .col-md-4
      .panel.panel-default
        .panel-heading
          计划中未完成
        %ul.list-group
          %li.list-group-item 开发一个监视YouTube更新，下载特定视频并自动传送到手机上的服务器和手机软件。
          %li.list-group-item 开发一个便于更新各服务器软件配置文件的简便程序。
    .col-md-4
      .panel.panel-default
        .panel-heading
          My Tweets
        %ul.list-group
          {% for tweet in site.tweets %}
          %li.list-group-item
            %small {{ tweet.text }}
            %a.label.label-default{ href: "https://twitter.com/caiguanhao/status/{{ tweet._id_ }}", data: { livestamp: "{{ tweet.time }}" } }
          {% endfor %}
