---
layout: default
permalink: /gnu_linux/
title: Linux
---
%article.container{ role: "main" }
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading What is GNU+Linux?
        .panel-body
          %p
            In 1984, I began developing an operating system, which is a free
            software replacement for Unix. Now, Unix in 1984 had hundreds of
            components. So developing a replacement meant developing a free
            replacement for every one of those components except the few we
            could do without.
          %p
            So in 1992, we had almost the entire GNU system, but one essential
            important component we are missing. That component is the kernel.
            That's the platform on which other programs run. It allocates the
            computer resources to other programs.
          %p
            So in 1992, Mr. Torvalds, who had written a proprietary kernel
            called Linux, liberated it. At that point, the combination of Linux
            and the incomplete GNU system, made a complete free operating system,
            achieving the goal that I had announced in 1983. So the result was
            the system that was basically GNU but also contains Linux. So it is
            the GNU+Linux or GNU/Linux system.
          %p
            You find that most people erroneously called the whole thing Linux
            which means giving us no credit for our work. That's not nice.
            Please don't do that. Even the other people do that. Please treat us
            right.
          %p.text-right —Richard Stallman
