---
layout: default
permalink: /nodejs/
---
%article.container{ role: "main" }
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading Node
        %ul.list-group
          %li.list-group-item
            %a{ href: "http://nodeschool.io/" } nodeschool
    .col-md-4
      .panel.panel-default
        .panel-heading Encode
        %ul.list-group
          %li.list-group-item
            %a{ href: "http://utf-8.jp/public/jsfuck.html" } JSFuck
          %li.list-group-item
            %a{ href: "http://utf-8.jp/public/aaencode.html" } aaencode
          %li.list-group-item
            %a{ href: "http://utf-8.jp/public/jjencode.html" } jjencode
    .col-md-4
      .panel.panel-default
        .panel-heading Extractor
        %ul.list-group
          %li.list-group-item
            %a{ href: "http://www.iteral.com/jscrush/" } JsCrush
          %li.list-group-item
            %a{ href: "http://dean.edwards.name/packer/" } jsPacker
