---
layout: default
permalink: /nodejs/
---
%article.container{ role: "main" }
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading Node
        %ul.list-group
          %li.list-group-item
            %a{ href: "http://nodeschool.io/" } nodeschool
