---
layout: default
permalink: /rails/
---
%article.container{ role: "main" }
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading Rails？
        .panel-body
          Rails是一套用Ruby语言编写的网页开发框架，用它能快速开发出一个新的网页应用程序。
          Rails遵循更少的代码、约定优于配置等原则。
  .row
    .col-md-8
      .panel.panel-default
        .panel-heading 安装 Rails
        .panel-body
          %pre
            = preserve do
              :escaped
                sudo apt-get install gcc make libssl-dev
                wget https://ftp.ruby-lang.org/pub/ruby/2.0/ruby-2.0.0-p247.tar.gz
                tar xfvz ruby-2.0.0-p247.tar.gz
                cd ruby-2.0.0-p247
                ./configure
                make
                sudo make install
                sudo gem install -V rails
    .col-md-4
      .panel.panel-default
        .panel-heading 一大堆关于Ruby/Rails的链接
        %ul.list-group
          %li.list-group-item
            %a{ href: "http://ruby-doc.org/core-2.0.0/" } Ruby Documentation
          %li.list-group-item
            %a{ href: "http://guides.rubyonrails.org/" } Ruby on Rails Guides
          %li.list-group-item
            %a{ href: "http://ihower.tw/rails3/index.html" } Ruby on Rails 實戰聖經
          %li.list-group-item
            %a{ href: "https://www.ruby-toolbox.com/" } The Ruby Toolbox
          %li.list-group-item
            %a{ href: "http://railscasts.com/" } Railscasts
          %li.list-group-item
            %a{ href: "http://learnxinyminutes.com/docs/ruby/" } Learn Ruby in Y Minutes
          %li.list-group-item
            %a{ href: "https://github.com/bbatsov/ruby-style-guide" } Ruby coding style guide
