---
layout: default
permalink: /static/
---
%article.container{ role: "main" }
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading 静态网站？
        .panel-body
          一次过生成网站的全部网页文件，然后直接放到服务器上供用户浏览。
          因为不需要消耗服务器资源来即时生成页面，所以服务器将更安全，响应速度更快。
          较大型网站包含成百上千的网页，一次生成全部静态网页时间会比较长，所以只适合500个网页以下的网站。
    .col-md-4
      .panel.panel-default
        .panel-heading 如何更新网站？
        .panel-body
          目前惯用的做法是用版本控制软件“Git”管理网页代码，存放在GitHub这个网站上，每次修改将记为一个历史版本。
          编者可以在GitHub上直接修改网站，也可以在自己的电脑上修改，然后上传新版到GitHub上。
          然后在服务器上执行一个命令，下载新版网页代码，生成最新网页。
    .col-md-4
      .panel.panel-default
        .panel-heading 特点？
        .panel-body
          就像这个网站一样，网页界面或是代码都追求简洁整齐，更符合国际标准。
          样式和脚本文件将压成小文件，图片也会进行无损压缩，从而加快网页载入速度。
          前端可以使用Bootstrap做响应式网页，这样网页可以任何尺寸屏幕的设备（包括智能手机）上显示一致内容。
  %h2 示例文件
  .row
    .col-md-4
      %h4 _config.yml
      %pre
        = preserve do
          :escaped
            title: Choi Goon-ho

            description: ...

            url: http://cgh.io

            permalink: /:categories/:title.html

            relative_permalinks: false

            assets:
              dirname: assets
              baseurl: /assets/
              sources:
                - _assets/images
                - _assets/javascripts
                - _assets/stylesheets
              cache: true
              cache_assets: true
              gzip: []

            exclude:
              - Gemfile
              - Gemfile.lock
              - LICENSE
              - Rakefile
              - README.md
      %h4 _config.production.yml
      %pre
        = preserve do
          :escaped
            # compress js and css
            assets:
              compress:
                css: sass
                js:  uglifier
    .col-md-8
      %h4 Gemfile
      %pre
        = preserve do
          :escaped
            source "https://rubygems.org"

            gem "jekyll"          , "~> 1.1.2"

            gem "coffee-script"   , "~> 2.2.0"
            gem "therubyracer"    , "~> 0.12.0"
            gem "uglifier"        , "~> 2.2.0"

            gem "sass"            , "~> 3.2.10"
            gem "jekyll-assets"   , "~> 0.7.1"

            gem "haml"            , "~> 4.0.3"
      %h4 Rakefile
      %pre
        = preserve do
          :escaped
            trap("SIGINT") { exit! }

            task :default do
              exec 'rake -T'
            end

            def puts_and_exec command
              puts command
              exec command
            end

            desc 'Build site for production'
            task :build do
              puts_and_exec 'jekyll build --config _config.yml,_config.production.yml,_data.yml --trace'
            end

            desc 'Preview and watch changes on local machine (development)'
            task :preview do
              puts_and_exec 'jekyll serve --config _config.yml,_data.yml --watch --trace'
            end
