!!!
/
  Generated on {{ site.time }}, using Jekyll, Haml, Sass, CoffeeScript.
  Source of this website can be found on https://github.com/cghio
%html.no-js
  %head
    %meta{ charset: "UTF-8" }
    %title {% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    {% stylesheet application %}
    %script{ src: "/assets/vendor/javascripts/jquery-2.0.3.min.js" }
    %script{ src: "/assets/vendor/javascripts/bootstrap.min.js" }
    {% javascript application %}
  %body
    %nav.navbar.navbar-default{ role: "navigation" }
      .container
        .navbar-header
          %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-ex1-collapse" } }
            %span.sr-only 打开或关闭导航菜单
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: "/" } Choi Goon-ho
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li
              %a{ href: "/about/" } 关于
            %li{ class: "{% if page.permalink == '/static/' %}active{% endif %}" }
              %a{ href: "/static/" } 静态网站
            %li
              %a{ href: "/rails/" } Ruby on Rails
            %li
              %a{ href: "/photos/" } 摄影
    {{ content }}
